# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/

# Temp Files
*.tmp

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/

# Uploaded PDFs
pdfs/*.pdf